.ant-layout-sider-children,.ant-menu ,.ant-menu-dark ,.ant-menu-root ,.ant-menu-inline ,.ant-layout-sider-trigger{
  background-color: #1d253c!important;
}
.ant-menu-item-selected {
  background-color: #3d4457!important;
  color: #67aff7!important
}

.logo {
  width: 100%;
  height: 115px;
  margin: 0 auto;
  text-align: center;

  img {
    margin-top: 30px;
    width: 70%;
  }
}

.ant-avatar, .ant-avatar-circle, .ant-avatar-image {
  margin-right: 34px;
  margin-top: -11px;
  margin-left: 7px;
}
.ant-col-23 {
  margin-top: 11px;
}
.ant-dropdown, .ant-dropdown-placement-bottomRight{
  top: 64px!important
}